.container-main-foro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-muted {
  color: #8c8c8c;
  margin-bottom: 65px;
}
.imagen-cardforo {
  width: 110px;
  height: 110px;
  left: 1192px;
  top: 295px;
  box-shadow: 0 2px 5px 2px #5e75796e;
}

.card-text {
  margin: 0;
}

.card-body1-foro {
  display: inline-block;
  vertical-align: middle;
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 35px;
  line-height: 20px;
  font-size: medium;
}

.card-body2-foro {
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 35px;
}

.card-body3-foro {
  display: inline-block;
  vertical-align: middle;
  margin-top: 35px;
  margin-right: 60px;
  margin-bottom: 35px;
  line-height: 10px;
}

.button-icon {
  margin-top: 35px;
  margin-left: 25px;
  margin-bottom: 35px;
  width: 147px;
  height: 118px;
  left: 55px;
  top: 305px;
  border: none;
  color: #c46f82;
}

.button-icon:hover {
  color: #f0e4e4;
}

.button-icon:active {
  color: #f56584;
}

.card-main-foro {
  max-width: 540px;
  margin-top: 15px;
}
