h5 {
  color: #5e8287;
}
.card {
  border-radius: 5px;
  background-color: #f0e4e4;
  margin: 20px;
  overflow-x: hidden;
}
.card-title {
  color: #904b5b;
  background-color: white;
}
.card-body {
  background: red;
}
.parrafoA {
  text-align: justify;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
