.titulo-home {
  color: #5e8287;
}
.card-home {
  border-radius: 5px;
  background-color: #f0e4e4;
  margin: 20px;
}
.card-title-home {
  color: #904b5b;
  background-color: white;
}
.parrafoA-home {
  text-align: justify;
  height: 210px;
  overflow: auto;
  display: block;
}

div.scrollmenu-home {
  overflow: hidden;
}

div.scrollmenu-home a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu-home a:hover {
  background-color: #777;
}

.input-group-text {
  background-color: #f0e4e4;
  color: #c46f82;
}

.input-group-text::placeholder {
  color: #c46f82;
}

.tabla-home {
  border: #884747 8px solid;
  border-radius: 5px;
}

.tabla-text-home {
  color: #904b5b;
}

.nivel-riesgo h2 {
  width: 50px;
}
.lista-riesgo span {
  display: flex;
  flex-wrap: wrap;
}
.items-riesgo span {
  width: 50px;
  display: inline-block;
}
