.main-content {
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("https://3000-dustm00n-safebaby-p0kjp37e7z7.ws-us38.gitpod.io/baby-intro.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.navbar-intro {
  background: #8dc1c9;
}
.navbar-brand-intro {
  width: 60px;
  margin-left: 40px;
  padding: 5px;
  border-radius: 100%;
  background-color: #4b97bb9f;
  box-shadow: 0 0 10px 1px #19a6be83;
}
.navbar-brand-intro:hover {
  width: 60px;
  margin-left: 40px;
  padding: 5px;
  border-radius: 100%;
  transition: 0.25s;
  background-color: #ee869d;
  box-shadow: 0 0 10px 1px #19a6be83;
}
.navbar-brand-intro:active {
  width: 60px;
  margin-left: 40px;
  padding: 5px;
  border-radius: 100%;
  transition: 0.25s;
  background-color: #ff93ab;
  box-shadow: 0 0 10px 1px #19a6be83;
  transition: 0.001s;
}
.navbar-container-intro {
  margin-right: 50px;
}
.btn-navbar-intro {
  width: 100px;
  color: #c46f82;
  background-color: #f0e4e4;
  border: none;
}
.btn-navbar-intro:hover {
  width: 100px;
  color: #f0e4e4;
  background-color: #c46f82;
  border: none;
}
.btn-navbar-intro:active {
  width: 100px;
  color: #fffbfb;
  background-color: #ee869d;
  border: none;
}
.content-explanation {
  margin: 8.5rem auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40rem;
  border-radius: 5px;
  background-color: #f0e4e4e5;
}
.project-content {
  text-align: justify;
  font-size: large;
  font-weight: 500;
  color: #b84961;
  margin: 20px;
}
