.main-login {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("https://www.telemundo.com/sites/nbcutelemundo/files/styles/fit-1240w/public/images/article/cover/2019/10/16/familia-con-bebe.jpg?ramen_itok=iqwQftIcTf");
  background-size: cover;
  background-attachment: fixed;
}
.form-container-login {
  margin: 12.78em auto;
  padding: 20px;
  width: 300px;
  height: 380px;
  background-color: #8dc1c9;
  border-radius: 10px;
  line-height: 10px;
  box-shadow: 0 4px 6px 2px #5e757946;
}

.title-login {
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.form-control {
  background-color: #f0e4e4;
  color: #c46f82;
}

.form-control::placeholder {
  color: #c46f82;
}

.button-login {
  margin: 50px;
  background-color: #b7e1e8;
  color: #699298;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}

.button-login:hover {
  margin: 50px;
  background-color: #6ed6e9;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}
.button-login:active {
  margin: 50px;
  background-color: #70eaff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}
