.container-profile {
  display: flex;
  justify-content: center;
  background-image: url(../img/portada-babys-niño.jpg);
  align-items: center;
  height: 300px;
}
.card-profile {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin-left: 600px;
}

.card-nombre {
  margin-left: 85px;
}

.Foto-Perfil {
  border-radius: 350px;
  max-width: 250px;
  max-height: 250px;
}
