.container-progress,
.container-graphic {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.card-progress {
  border-radius: 5px;
  background-color: #f0e4e4;
}
.progress-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 210px;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.progress-list::-webkit-scrollbar {
  width: 12px;
  border: #0a8ca0;
  background-color: #5bdef571;
  border-radius: 2px;
}
.progress-list::-webkit-scrollbar-thumb {
  width: 12px;
  border: #0a8ca0;
  background-color: #0a8ca02f;
  border-radius: 2px;
}
.items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.item-button {
  text-align: justify;
  width: 100%;
  height: 5.2rem;
  margin: 3px;
  padding: 10px;
  background-color: #77d5e6;
  color: #0a8ca0;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.item-button:hover {
  text-align: justify;
  width: 100%;
  height: 5.2rem;
  margin: 3px;
  padding: 10px;
  background-color: #a0e4f0;
  color: #4c96a1;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.item-button:active {
  text-align: justify;
  width: 100%;
  height: 5.2rem;
  margin: 3px;
  padding: 10px;
  background-color: #2bd1ee;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
