.container-graphic {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.container-progress {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.title-stage {
  margin: 0 0 50px 0;
  color: #cf7f91;
  font-weight: bold;
}
.card-graphic {
  border-radius: 5px;
  /* background-color: #f0e4e4; */
}
.card-progress {
  padding: 20px;
  border-radius: 5px;
  /* background-color: #f0e4e4; */
}
.progress-list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 100%;
  height: 610px;
  padding: 0;
  margin: 0;
  /* overflow: scroll; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.progress-list::-webkit-scrollbar {
  width: 12px;
  /* border: #0a8ca096; */
  background-color: #5bdef510;
  border-radius: 2px;
}
.progress-list::-webkit-scrollbar-thumb {
  width: 12px;
  /* border: #0a8ca0; */
  background-color: #0a8ca010;
  border-radius: 2px;
}
.items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: auto; */
}
.item-button {
  width: 100%;
  height: auto;
  margin: 3px;
  padding: 20px;
  background-color: #77d5e6;
  color: #0a8ca0;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.item-button:hover {
  width: 100%;
  height: auto;
  margin: 3px;
  padding: 20px;
  background-color: #f3d4d4;
  color: #cf7f91;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.item-button:active {
  width: 100%;
  height: auto;
  margin: 3px;
  padding: 20px;
  background-color: #2bd1ee;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
