.register-baby {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
.form-container-baby {
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto;
  padding: 20px;
  width: 350px;
  background-color: #5abae7;
  border-radius: 10px;
  line-height: 10px;
  box-shadow: 0 5px 10px 2px #5e757946;
}

.title-baby {
  margin-bottom: 20px;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.form-control {
  background-color: #f0e4e4;
  color: #c46f82;
}

.form-control::placeholder {
  color: #c46f82;
}
.errors-babyform {
  margin: 15px 15px 15px 0px;
  /* color: #d1022f; */
  color: #aa0909;
}
.button-baby {
  margin: 50px;
  background-color: #b7e1e8;
  color: #699298;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}

.button-baby:hover {
  margin: 50px;
  background-color: #6ed6e9;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}
.button-baby:active {
  margin: 50px;
  background-color: #70eaff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 5px 2px #5e75796e;
}
.card {
  display: flex;
  margin: 200px auto;
  border: none;
  background-color: #c043430a;
  box-shadow: 0 2px 5px 2px #3311111e;
}
.card-body {
  margin: 50px auto;
}
.title {
  font-family: spartan;
  font-weight: 300;
  color: #904b5b;
}
.card-text {
  margin: 50px auto;
  padding: 10px;
  justify-self: center;
  font-size: 20px;
  font-weight: 500;
  color: #c46f82;
}
